<h2>Engineer Index's page</h2>


<a href="/new/records">Create a new report</a><br>


<div class="grid-container">
    <ul>
        <% @reports.each do |reports| %>
            <li>
                <p><b>Date: </b><%= reports["date"] %><b> Author: </b><%= reports["name"] %><b> Company: </b><%= reports["company_name"] %><b> Report: </b><%= reports["report"] %></p>
                <% if current_user['id'] == reports["user_id"] %>
                    <form action="/records" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="report_id" value=<%= reports["id"] %>>
                        <button>delete</button>
                    </form>
                    <a href="/records/<%= reports['id'] %>/edit">edit</a>
                <% end %>
            </li>    
        <% end %>
    </ul>
</div>